@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Black.woff2") format("woff2"), url("../Roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Bold.woff2") format("woff2"), url("../Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Medium.woff2") format("woff2"), url("../Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Light.woff2") format("woff2"), url("../Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Thin.woff2") format("woff2"), url("../Roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Regular.woff2") format("woff2"), url("../Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}
.header .header__top {
  background-color: black;
  color: white;
  padding: 10px;
}
.header .centered__top {
  width: 80%;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  justify-content: end;
}
.header .centered__top .header__top_text {
  font-size: 0.6rem;
}
.header .centered__top .header__top_text:nth-child(1) {
  display: none;
}
.header .centered__top .header__top_text:nth-child(2) {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header .centered__top .header__top_text:nth-child(1) {
    display: inline-block;
  }
  .header .centered__top {
    justify-content: center;
    gap: 50px;
  }
}
@media only screen and (min-width: 1240px) {
  .header .centered__top .header__top_text:nth-child(1) {
    display: inline-block;
  }
  .header .centered__top .header__top_text:nth-child(2) {
    display: inline-block;
  }
  .header .centered__top {
    justify-content: center;
    gap: 50px;
  }
  .header .header__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header .header__bottom .header__links {
    display: inline-block;
  }
  .header .dropdown_header {
    display: none;
  }
}
@media only screen and (min-width: 1400px) {
  .header .header__wrapper {
    justify-content: center;
    gap: 130px;
  }
}

.header__wrapper {
  width: 80%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}
.header__wrapper .header__links {
  color: black;
  margin-left: 30px;
  font-size: small;
  display: none;
}
.header__wrapper .dropdown_header {
  background-color: black;
  color: brown;
  border-radius: 50%;
  padding: 0px 2px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero {
  margin-top: 40px;
}

.hero__holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__holder {
  display: inline-block;
  margin: 0 auto;
}

.hero__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.hero__first .hero__text {
  color: #212121;
  font-weight: 600;
  font-size: 20px;
}
.hero__first .hero__title {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0px;
  color: #212121;
}
.hero__first .hero__price {
  color: #DC4433;
  font-weight: 600;
  font-size: 20px;
}
.hero__first .hero__btns {
  margin-top: 20px;
  display: flex;
  gap: 1px;
  margin-bottom: 10px;
}
.hero__first .hero__btns .hero__btn {
  background-color: black;
  padding: 10px 14px;
  border: none;
  font-size: 10px;
  color: white;
}
.hero__first .hero__btns .hero__btn .hero__btn--red {
  color: #DC4433;
}
.hero__first .hero__btns .hero__btn_1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.hero__first .hero__btns .hero__btn_3 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hero__first .hero__addition-text {
  font-size: 12px;
}

.hero__second {
  max-width: 100%;
  height: auto;
  background-image: url("../assets/hero__cars.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 16/9;
}

.carousel__dots {
  display: flex;
  place-content: center;
  margin-top: 10px;
  gap: 10px;
}

.car__dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: gray;
}

.car__dot--black {
  background-color: black;
}

@media only screen and (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero__second {
    max-width: 450px;
    width: 100%;
  }
  .wrapper__holder {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .hero__wrapper {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero__second {
    max-width: 650px;
    width: 100%;
  }
  .wrapper__holder {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
  }
}
.select {
  width: 100%;
  padding: 20px;
  background: url("../assets/lines__select.png"), black;
  background-size: cover;
  margin-top: 80px;
  color: white;
}
.select .select__holder {
  width: 86%;
  margin: 0 auto;
}
.select .select__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 37.5px;
}
.select .select__btn {
  width: 130px;
  height: 40px;
  padding: 10px 13px;
  font-size: 14px;
  margin-bottom: 7px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.select .select__btn--white {
  background-color: white;
  color: #DC4433;
}
.select .select__bottom {
  margin-top: 20px;
  text-align: center;
}
.select .select__bottom .select__inputs {
  width: 100%;
  margin-bottom: 5px;
  padding: 14px 10px;
  border-radius: 5px;
  border: none;
}
.select .select__bottom .select__submit {
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #DC4433;
  padding: 10px 10px;
  color: white;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .select .select__holder {
    width: 70%;
  }
  .select .select__bottom .select__submit {
    width: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  .select .select__bottom .select__submit {
    height: 45px;
    display: inline-block;
  }
  .select .select__top {
    display: flex;
    justify-content: space-between;
  }
  .select .select__bottom {
    display: flex;
    gap: 10px;
  }
}
@media only screen and (min-width: 1200px) and (min-width: 1500px) {
  .select__holder {
    width: 55%;
  }
}
.brands {
  margin-top: 60px;
}
.brands .brands__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
  width: 70%;
}
.brands .brands__wrapper .brand {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
  place-content: center;
  text-align: center;
  font-size: 10px;
}
.brands .brands__wrapper .brand img {
  margin-bottom: 10px;
}
.brands .brands__wrapper .brand:nth-child(-n+16) {
  display: none;
}

@media only screen and (min-width: 786px) {
  .brands .brands__wrapper .brand:nth-child(-n+4) {
    display: inline-block;
  }
}
@media only screen and (min-width: 786px) and (min-width: 1200px) {
  .brands .brands__wrapper .brand:nth-child(-n+10) {
    display: inline-block;
  }
}
@media only screen and (min-width: 786px) and (min-width: 1572px) {
  .brands .brands__wrapper .brand:nth-child(-n+16) {
    display: inline-block;
  }
}
.order {
  width: 87%;
  background: url("../assets/lines__select.png"), black;
  background-size: cover;
  margin: 0 auto;
  padding: 20px;
  color: white;
  margin-top: 70px;
}
.order .order__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 37.5px;
}
.order .order__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21.09px;
  margin: 10px 0px;
}
.order .order__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.order .order__wrapper .order__inputs {
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
}
.order .order__wrapper .order__submit {
  width: 100%;
  padding: 13px 10px;
  border: none;
  border-radius: 5px;
  background-color: #DC4433;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.order .checkbox {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.order .checkbox .order__permission {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .order {
    width: 60%;
  }
  .order .order__wrapper {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .order .order__wrapper .order__submit {
    width: 20%;
  }
  .order .order__wrapper .order__inputs {
    width: 20%;
  }
  .order .order__wrapper .order__inputs {
    padding: 10px;
  }
  .order {
    width: 80%;
  }
  .order .order__wrapper {
    flex-direction: row;
  }
  .checkbox__holder {
    display: flex;
    justify-content: end;
  }
  .checkbox__holder .checkbox {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) and (min-width: 1400px) {
  .order {
    width: 70%;
  }
}
.official {
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
  padding: 25px;
}
.official .official__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.official .official__wrapper .official__card {
  padding: 10px;
  border: 2px solid #C7C7C7;
  border-radius: 4px;
}
.official .official__wrapper .official__card img {
  min-width: 350px;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: -10px;
}
.official .official__wrapper .official__card .official__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  margin: 10px 0px;
}
.official .official__wrapper .official__card .official__condition {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  margin-bottom: 7px;
}
.official .official__wrapper .official__card .conditionals__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 10px 0px;
}
.official .official__wrapper .official__card .condition {
  color: #424242;
}
.official .official__wrapper .official__card .condition--black {
  color: black;
}
.official .official__wrapper .official__card .condition__buy {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
  background-color: #DC4433;
}

.seeking__text {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.seeking__text .seeking__wrapper {
  display: flex;
}

@media only screen and (min-width: 310px) {
  .official .official__wrapper .official__card img {
    min-width: 200px;
  }
  .seeking__text {
    width: 90%;
  }
  .seeking__text .seeking__wrapper {
    flex-direction: column;
  }
  .seeking__text .seeking__wrapper .first__seek {
    font-size: 20px;
    font-weight: 600;
    line-height: 25.78px;
  }
  .seeking__text .seeking__wrapper .second__seek {
    margin-top: 10px;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
  }
}
@media only screen and (min-width: 210px) {
  .official .official__wrapper .official__card img {
    min-width: 180px;
  }
}
@media only screen and (min-width: 310px) {
  .official .official__wrapper .official__card img {
    min-width: 280px;
  }
}
@media only screen and (min-width: 768px) {
  .seeking__text {
    width: 80%;
  }
  .seeking__text .seeking__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
.benefits {
  width: 90%;
  margin-top: 40px;
  margin: 0 auto;
}
.benefits .benefits__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.benefits .benefits__wrapper .benefits__card {
  border: 2px solid #C7C7C7;
  border-radius: 4px;
  padding: 20px;
}
.benefits .benefits__wrapper .benefits__card .benefits__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #424242;
}

@media only screen and (min-width: 768px) {
  .benefits {
    width: 60%;
  }
  .benefits .benefits__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits {
    width: 80%;
  }
  .benefits .benefits__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits {
    width: 80%;
  }
  .benefits .benefits__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */