.benefits {
  width: 90%;
  margin-top: 40px;
  margin: 0 auto;
  .benefits__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    .benefits__card {
      border: 2px solid $border;
      border-radius: 4px;
      padding: 20px;
      .benefits__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        color: #424242;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
    .benefits{
        width: 60%;
        .benefits__wrapper{
            grid-template-columns: 1fr 1fr;
        
        }
    }
}

@media only screen and (min-width: 1200px) {
    .benefits{
        width: 80%;
        .benefits__wrapper{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        
        }
    }
}

@media only screen and (min-width: 1200px) {
    .benefits{
        width: 80%;
        .benefits__wrapper{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        
        }
    }
}